body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #001f3f, #00111f);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 3px;
    color: white;
}

.wrapper {
    text-align: center;
    max-width: 400px;
    width: 100%;
}

input,
button,
.question-box {
    width: 100%;
    box-sizing: border-box;
}

.question-box {
    background: #ffd6f6;
    color: #333;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 1px;
    font-size: 18px;
}

.ball {
    background-image: url("шар.png");
    width: 300px;
    height: 300px;
    margin: 70px auto 0 auto; 
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 10px #fff;
    box-shadow: 0 0 100px #b445ff;
    transition: 0.2s;
}

.shake {
    animation: shake 0.4s ease;
}

@keyframes shake {
    0% { transform: translate(0, 0); }
    25% { transform: translate(-10px, 5px); }
    50% { transform: translate(10px, -5px); }
    75% { transform: translate(-10px, 5px); }
    100% { transform: translate(0, 0); }
}

input {
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background: #b445ff;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #9933dd;
}

@media (max-width: 400px) {
    .ball {
        width: 240px;
        height: 240px;
        font-size: 26px;
    }
}